---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import HowItWorks from '../components/HowItWorks.astro';
import PricingTable from '../components/PricingTable.astro';
import Compatibility from '../components/Compatibility.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />

  <main>
    <Hero />
    <Benefits />
    <HowItWorks />
    <PricingTable />
    <Compatibility />
    <FAQ />
  </main>

  <Footer />
</Layout>
